*{
    margin: 0%;
    padding: 0%;
}
.body{
    background-color: black;
}
@import 'base/listas';
@import 'base/variables';
@import 'base/mixins';
@import 'base/mapas';
@import 'base/extends';
@import 'components/grids';
@import 'components/header';
@import 'components/footer';
@import 'components/index';
@import 'components/proyectos';
@import 'components/servicios';
@import 'components/contacto';
@import 'components/comentarios';
@import 'components/mediaqueris';