*{
    margin: 0%;
    padding: 0%;
}
.body{
    background-color: black;
}
@import 'base/listas';
@import 'base/variables';
@import 'base/mixins';
@import 'base/mapas';
@import 'base/extends';
@import 'components/grids';
@import 'components/header';
@import 'components/footer';
@import 'components/index';
@import 'components/proyectos';
@import 'components/servicios';
@import 'components/contacto';
@import 'components/comentarios';

@media only screen and (max-width: 1300px) {
    .proyectos-grid{
        height: fit-content;
        display: map-get($grid-map , display-grid);
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 1150px){
    .habilidad1{
        height: 150px;
        width: 150px;
    }
    .habilidades-contenedor{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 1000px){
    .redes-sociales-1{
        display: map-get($standard , display-standard);
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .red{
        padding: 20px;
    }
}
@media only screen and (max-width:860px) {
    .item{ margin: 10px;}
    .proyectos-grid{
        height: fit-content;
        display: map-get($grid-map , display-grid);
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 700px){
    .pie-de-pagina{
        font-size: small;
    }
    .fa-brands{
        height: auto;
        width: auto;
    }
    .perfil-pie{
        font-size: nth($font-size, 7);
    }
}
@media only screen and (max-width: 480px){
    .parrafo{font-size: nth($font-size, 3);}
    .item{ font-size: 12px;}
    .servicio-derecha{font-size: nth($font-size, 2);}
    .servicio-izquierda{font-size: nth($font-size, 2);}
}