@import '../base/listas';
@import '../base/variables';
@import '../base/mixins';
@import '../base/mapas';
@import '../base/extends';

.formulario{
    display: map-get($standard , display-standard);
    flex-direction: column;
    align-items: center;
}
.formulario-casilla{
    margin-bottom: 3%;
    width: 60%;
    height: 50px;
}
.formulario-casilla-mensaje{
    display: map-get($standard , display-standard);
    width: 60%;
    margin-bottom: 3%;
    height: 200px;
    font-size: nth($font-size, 3);
}

.sec-contacto{
    display: map-get($standard , display-standard);
    flex-direction: column;
    width: 100%;
    background-color: $bg-pagina;
    height: fit-content;
    margin: 0 auto;
}
.redes-sociales{
    display: map-get($standard , display-standard);
    flex-direction: column;
    place-items: center;
    padding-bottom: 50px;
}
.subtitulo-2{
    font-size: nth($font-size, 7);
    padding-top: 1%;
    padding-bottom: 2%;
    color: rgb(179, 187, 194);
    margin-bottom: 5px;
}
.redes-sociales-1{
    display: map-get($standard , display-standard);
    justify-content: center;
    width: 100%;
}
.red{
    transition: all 0.5s;
    padding-left: 40px;
    padding-right: 40px;
}
/* Agrego animaciones en las redes de la pagina "contacto" */
.red:hover{
    transform: scale(1.2)
}
.pie-contacto{
    height: 35px;
}