@import'../base/extends';
@import'../base/listas';

.fa-brands{
    @extend %tamaño;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 10px;
    color: whitesmoke;
    font-size: nth($font-size, 5);
}

.pie-de-pagina{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black ;
    color: antiquewhite;
    width: 100%;
    position: absolute;
}
.conjunto-logos{
    width: fit-content;
    padding-right: 1%;
}
.mail{
    padding-left: 1%;
}
.firma{
    padding-left: 2%;
}
.firma-1{
    padding-right: 1%;
}