.grid-index{
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "presentacion"
    "sobre-mi"
    "habilidades";
    grid-template-rows: 500px 1fr 1fr;
    grid-template-columns: 1fr;
}
.proyectos-grid{
    background-color: $bg-pagina;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    border: 1px solid black;
}