.cabecera{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: nth($font-size, 4);
}
.perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px rgb(240, 227, 227) solid;
    margin: 5px;
    transition: 0.5s;
}
.perfil:hover{
    transform: scale(1.5);
}