.sobre-mi{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: rgb(17, 14, 14);
    border: 1px black solid;
    height: fit-content;
    padding-bottom: 5%;
    grid-area: sobre-mi;
}
.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: nth($font-size, 9);
    padding: 5%;
}
.parrafo{
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
    font-size: nth($font-size, 5);
    margin-bottom: 3%;
}
/* Se modifico esto para que se pueda utilizar el boton y tenga animación */
.curriculum{
    width: fit-content;
    text-align: center;
}
.curriculum-texto{
    text-decoration: none;
    color: black;
}
.boton{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 15px;
    font-size: nth($font-size, 3);
    padding: 10px;
}
/* Agrego animacion a los botones tanto el enviar del html Contacto como al de mi curriculum en el index */
.boton-animacion{
    background-color: rgb(255, 255, 255);
    transition: all 1s;
}
.boton:hover{
    transform: scale(1.2);
}